import React from 'react';
import ReactDOM from 'react-dom/client';
import { BrowserRouter } from 'react-router-dom';
import App from './App.jsx';
{% if include_login %}
import { AuthProvider } from './context/AuthContext.jsx';
{% endif %}
import './styles/index.css';

ReactDOM.createRoot(document.getElementById('root')).render(
  <React.StrictMode>
    <BrowserRouter>
{% if include_login %}
      <AuthProvider>
        <App />
      </AuthProvider>
{% else %}
      <App />
{% endif %}
    </BrowserRouter>
  </React.StrictMode>,
);
